//BACKGROUND COLORS
$B_629B5A: #629B5A;
$B_8FC36B: #8FC36B;
$B_F5989D: #F5989D;
$B_FEE1E3: #FEE1E3;
$B_F9F9F9: #F9F9F9;
$B_FFFFFF: #FFFFFF;
//FONT COLORS
$F_4D4D4D: #4D4D4D;
$F_808080: #808080;
$F_999999: #999999;
$F_135C37: #135C37;
$F_8FC36B: #8FC36B;
$F_F5989D: #F5989D;
$F_FFFFFF: #FFFFFF;
//ICON COLORS
$I_4D4D4D: #4D4D4D;
$I_135C37: #135C37;
$I_8FC36B: #8FC36B;
$I_F5989D: #F5989D;
$I_D83B86: #D83B86;
$I_C1272D: #C1272D;
//LINE COLORS
$L_CCCCCC: #CCCCCC;